.btn {
    border: none;
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 10px 40px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    transition: all 0.3s;
    flex-grow: 1;
}

.btn-pull {
    background: #f2faf0;
    box-shadow: 5px 5px 5px #888888;
    color: #000;
    font-size: 16px;
    overflow: hidden;
    backface-visibility: hidden;
}

.btn-pull .btn-text {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.3s;
}

.icon {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 2.5;
    font-size: 170%;
    transition: all 0.3s;
    left: 0;
    text-align: center;
    top: -100%;
}

.btn-pull:hover .btn-text {
    transform: translateY(300%);
}

.btn-pull:hover .icon{
    top: 0;
}

.btn-pull:active {
    background: #9053a9;
    top: 2px;
}

#ability-1, #ability-2, #ability-3, #ability-4, #ability-5{
    background-color: #e0cea5;
    display: flex;
    justify-content: space-around;
}
